input[type=text] {
    width: 70%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

button[type=submit] {
    width: 50%;
    background-color: darkgrey;
    color: white;
    padding: 14px 20px;
    margin: 36px 25%;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    
}

button[type=submit]:hover {
    background-color: #4CAF50;
}

div {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    border-radius: 5px;
    padding: 20px;
}

.Label {
    padding: 20px;
}